@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root,
.MuiInputLabel-root,
.MuiOutlinedInput-input {
    font-family: 'Poppins' !important;
}

p {
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

.MuiSvgIcon-root {
    vertical-align: middle !important;
}

.MuiTypography-root {
    font-family: 'Poppins' !important;
}