@import '../variables';
.dashboard {
    padding-top: 1%;
    &-top {
        margin-top: 5%;
        &-message {
            font-size: 2rem;
            font-weight: 500;
            &-name {
                margin-left: 1rem;
                font-weight: bold;
                color: $tertiary;
            }
        }
        &-address {
            font-size: 1.2rem;
            &-value {
                font-weight: 600 !important;
                color: $tertiary;
                margin-left: 5px;
            }
            &-button {
                font-size: 80% !important;
                color: black;
            }
        }
    }
}