@import '../variables';
html {
    overflow-y: scroll !important;
}

.dashboard {
    padding-top: 1%;
    &-top {
        margin-top: 5%;
        &-message {
            font-size: 2rem;
            font-weight: 500;
            &-name {
                margin-left: 1rem;
                font-weight: bold;
                color: $tertiary;
            }
        }
        &-address {
            font-size: 1.2rem;
            &-value {
                font-weight: 600 !important;
                color: $tertiary;
                margin-left: 5px;
            }
            &-button {
                font-size: 80% !important;
                color: black;
            }
        }
    }
    &-documents {
        margin-top: 2rem;
        &-heading {
            font-weight: bold;
            font-size: 2rem;
            color: $tertiary;
        }
        &-list {
            width: 100%;
            display: flex;
            flex-direction: column !important;
            justify-content: space-evenly;
            align-items: center;
        }
        &-item {
            width: 95% !important;
            padding: 1rem 2rem;
            margin: 5px 0px;
            border: 1px solid black;
            border-radius: 5px;
            &-logo {
                width: 70%;
                height: auto;
            }
            &-title,
            &-date {
                padding-top: 0.5rem;
                font-size: 1.1rem;
            }
            &-buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    &-list-btn {
        background-color: $tertiary !important;
        color: white !important;
        font-family: 'Poppins' !important;
        text-transform: none !important;
        margin: 10px 40% !important;
        font-size: 1.1rem !important;
        min-width: 200px !important;
    }
}