@import '../variables.scss';
.document-history {
    padding: 2rem 0px;
    .heading {
        color: $tertiary;
        font-size: 1.5rem;
        font-weight: bold;
    }
    &-item {
        width: 100% !important;
        .hash,
        .message {
            word-break: break-all;
        }
        .date {
            color: black;
        }
    }
}